<div class="cards-all-info">

 <%= link_to farms_path(farm) do %>
 <div class="cardinfo">
  <img class= "image" src="<%= farm.photo%>">
  <div class="cardinfos">
    <div class="words">
      <h4 class="wig-title"><%=farm.name.truncate(20)%></h4>
      <h8><%=farm.address%></h8>
      <p><%= link_to "See their Products", find_path(filter: farm.name), class: "btn request-button", remote: true%></p>
    </div>
  </div>
</div>
</div>
<% end %>

