<div class="container">
  <div class="form-wrapper">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <br>
        <h2>Create my farm</h2>
        <br>

        <%= simple_form_for(@farm) do |f| %>

        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :address %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>

        <%= f.button :submit, "Create a farm", class: "banner-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
