
<% newbookings = 0 %>
<% current_user.farm.products.each do |p| %>
<% p.bookings.each do |booking| %>
<% newbookings += 1 if booking.created_at > 20.minutes.ago && booking.status =="pending" %>
<% end %>
<% end %>

<div class="sidebar">

  <div class="input">
   <p><%= link_to "uglicious", root_path, class: "text-logo" %></p>

   <%= link_to dashboard_farmer_path do %>
   <p><i class="fas fa-home"></i>Dashboard</p>
   <% end %>

   <%= link_to new_product_path do %>
   <p><i class="fas fa-plus-circle"></i>New product</p>
   <% end %>

   <div class="notification">
     <%= link_to farmer_orders_path do %>
     <p><i class="fas fa-shopping-basket"></i>Orders</p>
     <% end %>
     <% if newbookings > 0 %>
     <div class="order-notification"><%= newbookings%></div>
     <% end %>
   </div>

   <%= link_to products_path do %>
   <p><i class="fas fa-store"></i>Marketplace</p>
   <% end %>

   <%= link_to "#" do %>
   <p><i class="fas fa-chart-bar"></i>Reports</p>
   <% end %>

   <%= link_to "#" do %>
   <p><i class="fas fa-envelope"></i></i>Inbox</p>
   <% end %>

 </div>
</div>



