<div class="container">
<br>
<div class="row">

<div class="col-sm-6 col-xs-6 col-md-6 column" >

<div class="dashboard-user">
    <%= cl_image_tag current_user.photo, width: "85", class: "rounded-circle alone" %>
<div class="user-infos">
      <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
      <p>Expert waste-fighter ⭐️⭐️</p>
      <p>63kg saved 🎯</p>
      <p>37 transactions</p>
      <%= link_to "Offer a new Product", new_product_path, class: "banner-button" %>

    </div>
        </div>
        </div>

<div class="col-sm-6 col-xs-6 col-md-6 column" >

    <p> <img src="https://res.cloudinary.com/dc875ky15/image/upload/v1563462264/uglicious/farms/farm_iwbxep.jpg" width="300px"></p>
    <h3><%= @farm.name %></h3>
    <p><%= @farm.description.truncate(100) %></p>

</div>
  </div>


  <br>
  <br>
  <h3>My fruits & veggies <%= @current_user.products.count %></h3>
    <% if current_user.products.empty? %>
      <p>Offer your first product!</p>
    <% else %>

          <div class="row">
              <% current_user.products.each do |prod| %>
                  <div class="col-sm-6 col-xs-6 col-md-6 column" >
                  <%= link_to product_path(prod) do %>
                          <div class="card-request">
                                <img src="<%= prod.photo %>">
                                        <div class="card-request-infos">
                                          <h2><%= prod.title %> - <%= prod.price_in_cents %>€ per Kg</h2>
                                            <p><%= prod.description.truncate(100) %></p>
                                             <br>
                                              <%= link_to "Edit", edit_product_path(prod) %>
                                              <%= link_to "Delete", product_path(prod), method: :delete %>
                                                </div>
                                  </div>
                              </div>
                  <% end %>
                  <% end %>

             </div>
      <% end %>
  <br>
  <br>
    <h3>Last orders</h3>

    </div>



