<h1>farmers dashboard</h1>
<% if current_user.products.empty? %>
<p>Offer your first product!</p>
<% else %>
<% current_user.products.each do |prod| %>
<h2><%= prod.title %></h2>
<p><%= prod.description %></p>
<%= link_to "Edit this product", edit_product_path(prod), class: "btn btn-primary" %>
<%= link_to "Delete this product", product_path(prod), method: :delete, class: "btn btn-primary" %>
<% end %>
<% end %>
<%= link_to "Offer a new Product", new_product_path, class: "btn btn-primary" %>
