
<% if current_user && current_user.role.downcase == "farmer" %>
<div class="banner" style="background-image: url(https://www.perfarmer.com/imgs/banner_michel.jpeg);">
  <div class="container">
    <h1>Sell uglies, save the planet!</h1>
    <p style="color:white">Valorize your waste</p>
    <%= link_to "Start selling", dashboard_farmer_path, class: "banner-button" %>
  </div>
</div>

<% elsif current_user && current_user.role.downcase == "customer" %>
<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1503639595033-c11290f0accf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2141&q=80);">
  <div class="container">
    <h1 style="color:white">Eat uglies, save the planet!</h1>
    <p style="color:white">Direct from farmers - Delicious - Fair price</p>
    <%= link_to "Explore the market", products_path, class: "banner-button" %>
  </div>
</div>

<% else %>
<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1511448598600-c01f02a2ee95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
  <div class="container">
    <h1 style="color:white">The marketplace to fight foodwaste</h1>
    <p style="color:white">Direct from farmers - Delicious - Fair price</p>
    <%= link_to "Explore the market", products_path, class: "banner-button" %>
    <%= link_to "Start selling", dashboard_farmer_path, class: "banner-button" %>
  </div>
</div>
<% end %>
<br>
<br>
<div class="container">
  <h2 class="first-title-home">What are uglies?</h2>

  <div class="cards">

   <div class="card-category">
    <img src="https://res.cloudinary.com/dc875ky15/image/upload/v1563357196/uglicious/icons/peppers__red_yitjhz.svg"width="80px">A bit lumpy
  </div>

  <div class="card-category">
    <img src="https://res.cloudinary.com/dc875ky15/image/upload/v1563356918/uglicious/icons/pear_hcwzvq.svg">Too small
  </div>

  <div class="card-category">
    <img src="https://res.cloudinary.com/dc875ky15/image/upload/v1563356915/uglicious/icons/potato_y990za.svg" width="50px" height="60px">Too big
  </div>

  <div class="card-category">
    <img src="https://res.cloudinary.com/dc875ky15/image/upload/v1563356917/uglicious/icons/pear_big_yihrvo.svg" width="40px">Some blemishes
  </div>

  <div class="card-category">
    <img src="https://res.cloudinary.com/dc875ky15/image/upload/v1563356915/uglicious/icons/apple_yax5vp.svg" width="60px">Not enough to sell
  </div>

  <div class="card-category">
    <img src="https://res.cloudinary.com/dc875ky15/image/upload/v1563363976/uglicious/icons/tomato_e3hkgr.svg">Not yet ripe
  </div>

  <div class="card-category">
    <img src="https://res.cloudinary.com/dc875ky15/image/upload/v1563364153/uglicious/icons/carrots_kpcgfb.svg" width="100px">Too many
  </div>

  <div class="card-category">
    <img src="https://res.cloudinary.com/dc875ky15/image/upload/v1563356915/uglicious/icons/lemon_lwj90g.svg" width="50px">Always delicious
  </div>
</div>

<br>

<h2>Delicious products to save</h2>

<div class="aboverow-home">
  <div class="row margin-1">
    <% @products.each do |product| %>
    <div class="col-sm-6 col-xs-6 col-md-3 column" >
     <%= link_to product_path(product) do %>
     <div class="card-trip">

      <%= cl_image_tag product.photo %>
      <div class="card-trip-infos">
        <div>
          <h2 class="wig-title"><%=product.title.truncate(30)%></h2>
          <p><%=product.farm.name.truncate(30)%><br> <%=product.quantity_in_kg%> Kg available</p>
        </div>
        <h2 class="card-trip-pricing"><%=product.price_in_cents%>€ per kg</h2>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
</div>
</div>
<br>
<br>

