<% totalbookings = 0%>
<% current_user.farm.products.each do |p| %>
<% p.bookings.each do |booking| %>
<% totalbookings += 1 %>
<% end %>
<% end %>
<div class="dash-container d-flex">
  <%= render 'shared/sidebar' %>
  <div class="content-container">
    <div class="row">
      <h2 id="h-margin">Last orders</h2>
      <div class="number-notification"> <%= totalbookings %> </div>
    </div>

    <% current_user.farm.products.each do |p| %>
    <% p.bookings.each do |booking| %>

    <%= link_to product_path(booking.product) do %>
    <div class="card-request">
      <img src="<%= booking.product.photo %>">
      <div class="card-request-infos">
        <h2>#<%= booking.product.id%><%= booking.product.farm.id %><%= booking.id %></h2>
        <p><%= booking.product.title %> - <%= booking.product.price_in_cents %>€ per Kg</p>
        <p> Quantity bought: <%= booking.quantity_in_kg %>Kg</p>
        <p> Buyer: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
        <p> Total price: <%= totalprice = booking.product.price_in_cents*booking.quantity_in_kg %>€</p>


        <%= link_to "See customer invoice", class: "product-links" %>
        <div class="status-box">
          <%= simple_form_for [booking.product, booking], method: "patch" do |f| %>
          <%= f.input :status, collection: ["pending", "ready for pickup", "completed"] %>

          <%= f.button :submit, "Update status", class: "banner-button", id: "sweet-alert-update"%>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
<% end %>
<% end %>
