
<div id="card-container">
  <div class="card-filter" style="width: 300px;
    height: 100vh;">
    <div class="text-for-filter">
    <h4>Filter by</h4>
    <div>
      <h6>Categories</h6>
      <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Vegetables
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
      <p>Cucumber</p>
      <p>Tomatoes</p>
      <p>Broccoli & Cauliflower</p>
      <p>Peppers</p>
      <p>Carrots & Celery</p>
      <p>Squash</p>
      <p>Corn & Eggplants</p>
      <p>Potatoes</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Fruits
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p>Grapes & Cherries</p>
      <p>Berries</p>
      <p>Stone Fruits</p>
      <p>Apple & Pears</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
           Greens
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
      <p>Kale & Spinach</p>
      <p>Lettuce & Chicoree</p>
      <p>Greens</p>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Herb
        </button>
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Garlic & Onion
        </button>

    </div>

</div>

  </div>
  <div class="cards-all">
    <div class="white">
      <div class="search">

  <%= simple_form_for :search, url: products_path, method: :get do |f| %>
          <div class="search-form-control form-group">
             <input class="form-control string required" type="text" name="search[query]" id="search_query" />
              <button name="button" type="submit" class="btn btn-flat">
             <i class="fas fa-search"></i> Search
            </button>
          </div>
        <% end %>
  </div>
  </div>
  <div class="aboverow">
    <div class="row margin-1">
            <% @products.each do |product| %>
      <div class="col-sm-6 col-xs-6 col-md-4 column" >
         <%= link_to product_path(product) do %>
        <div class="card-trip">

          <%= cl_image_tag product.photo %>
            <div class="card-trip-infos">
              <div>
                <h2 class="wig-title"><%=product.title.truncate(30)%></h2>
              <p><%=product.farm.name.truncate(30)%> · <%=product.subgroup.name.truncate(20)%> <br> <%=product.quantity_in_kg%> Kg available</p>
            </div>
           <h2 class="card-trip-pricing"><%=product.price_in_cents%>€ per kg</h2>
          </div>
        </div>
      </div>
     <% end %>
     <% end %>
    </div>
  </div>
  </div>

 </div>

 <%= render "shared/footer" %>

