

<div id="card-container">
  <div class="card-filter" style="width: 300px;
    height: 100vh;">
    <p>hallo</p>

  </div>
  <div class="search">

<%= simple_form_for :search, url: products_path, method: :get do |f| %>
        <div class="search-form-control form-group">
           <input class="form-control string required" type="text" name="search[query]" id="search_query" />
            <button name="button" type="submit" class="btn btn-flat">
           <i class="fas fa-search"></i> Search
          </button>
        </div>
      <% end %>
  <div class="cards-all">

</div>
    <div class="row">
            <% @products.each do |product| %>
      <div class="col-sm-6 col-xs-6 col-md-4 column" >
         <%= link_to product_path(product) do %>
        <div class="card-trip">
          <img src="<#%= product.photo%>">
            <div class="card-trip-infos">
              <div>
                <h2 class="wig-title"><%=product.title.truncate(20)%></h2>
              <p><%=product.farm.name.truncate(20)%> · <%=product.category.name%> <br> <%=product.quantity_in_kg%> Kg available</p>
            </div>
           <h2 class="card-trip-pricing"><%=product.price_in_cents%>€ per kg</h2>
          </div>
        </div>
      </div>
     <% end %>
     <% end %>
    </div>
  </div>

 </div>
