<div class="container-2">
  <div class="form-wrapper back-form" style="background-image: url(https://res.cloudinary.com/dc875ky15/image/upload/v1563535063/uglicious/icons/pear_last_gf5ayf.svg);">
    <div class="row justify-content-center">
      <div class="col-md-6">
      <br>
      <h2>Sell a new product</h2>
      <br>
        <%= simple_form_for(@product) do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :price_in_cents, label: 'Price per kg in €'%>
        <%= f.input :quantity_in_kg %>
        <%= f.input :min_quantity_to_order %>
        <%= f.input :subgroup_id, collection: Subgroup.all %>
        <div class="form-row">
          <div class="col">
            <%= f.input :available_from, as: :string, required: true, input_html: {class: "datepicker"}, placeholder: "click me..."%>
          </div>
          <div class="col">
            <%= f.input :available_until, as: :string, required: true, input_html: {class: "datepicker"}, placeholder: "click me..." %>
          </div>
        </div>

        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>

        <%= f.button :submit, "Save product", class: "banner-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
