<div class="dash-container d-flex">
  <%= render 'shared/sidebar' %>
  <div class="content-container">

    <div class="container-2">
      <div class="form-wrapper back-form">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <br>
            <div class="row justify-content-center">
              <h2>Sell a new product</h2> <img src="https://res.cloudinary.com/dc875ky15/image/upload/v1563363976/uglicious/icons/tomato_e3hkgr.svg" class="img-create">
            </div>
            <br>

            <div id="exchange-call">

              <%= simple_form_for(@product) do |f| %>

              <div class="form-row">

                <div class="col">

                  <div class="autocomplete">
                    <%= f.label :title, 'Product name'%><p style="font-size: 12px; color: #377A5E; padding:4px; border:solid; border-width:0.1px; border-color:#377A5E;    position: absolute;right: 173px;", id="somethingnew">autocomplete</p>
                  </div>
                  <%= f.input :title, label: false %>

                </div>


                <div class="col">

                  <%= f.input :subgroup_id, collection: Subgroup.all %>
                </div>
              </div>


              <%= f.input :description %>
              <div class="form-row">
                <div class="col">
                  <%= f.input :price_in_cents, label: 'Price per kg in €'%>
                </div>
                <div class="col">
                  <%= f.input :quantity_in_kg%>
                </div>

                <div class="col">
                  <%= f.input :min_quantity_to_order %>
                </div>

              </div>

              <div class="form-row">
                <div class="col">
                  <%= f.label :available_from, 'Start date' %>
                  <%= f.input :available_from, as: :string, required: true,  input_html: {class: "datepicker"}, placeholder: "click me..."%>
                </div>
                <div class="col">
                  <%= f.label :available_until, 'End date' %>
                  <%= f.input :available_until, as: :string, required: true, input_html: {class: "datepicker"}, placeholder: "click me..." %>
                </div>
              </div>
              <%= f.label :photo, 'Upload a photo' %>
              <%= f.input :photo, label: false%>
              <%= f.input :photo_cache, as: :hidden %>

              <%= f.button :submit, "Save product", class: "banner-button" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




