<div class="container">
  <div class="row above_picture">

    <div class="col-sm-8">
      <img class="show_main_picture" src="<%= @product.photo %>">

      <div class="row under_picture">
        <div class="col-sm-3">
          <p class="subtle-header"> Product Details:</p>
        </div>
        <div class="col-sm-9">
          <p class="prod-text"> <%= @product.description %></p>
        </div>
      </div>

      <div class="row under_picture">
        <div class="col-sm-3">
          <p class="subtle-header"> About the farm:</p>
          <img class="show_farm_picture" src="<%= @product.farm.user.photo %>" style="width: 160px;">
        </div>
        <div class="col-sm-9">
          <h4 class="description"> <%= @product.farm.name %> </h4>
          <p class="prod-text"> <%= @product.farm.description %></p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 vertical-flex">
      <div class="main-description">

        <div class="side-card-header">
          <h4><%= @product.farm.name %></h4>
          <h2><%= @product.title %></h2>
        </div>

        <div class="side-card-body">
          <div class="form-row">
            <div class="col">
              <p class="description", id="kg-price">Price per kg: <strong style="color: #FFC942"> <%= @product.price_in_cents %></strong> €</p>
            </div>
          </div>
          <p class="description">Good between:</p>
          <div class="form-row">
            <div class="col">
              <p class="description"><strong style="color: #EA622C"><%= @product.available_from&.strftime("%B %d, %Y") %></strong></p>
            </div>

            <div class="col">
              <p class="description"><strong style="color: #EA622C"><%= @product.available_until&.strftime("%B %d, %Y") %></strong></p>
            </div>
          </div>
          <% if user_signed_in? %>
          <div class="form-wrapper">
           <div class="form-row">
            <div class="col">
              <p class="description">Qty. available:<strong style="color: #FFC942"> <%= @product.quantity_in_kg %></strong> Kg
              </p>
            </div>
            <div class="col">
              <p class="description">Min qty. to order:<strong style="color: #FFC942"> <%= @product.min_quantity_to_order %></strong> Kg</p>
            </div>
          </div>
          <br>

          <% if current_user.role == "customer" %>
          <p class="subtitle"><strong>Order here: </strong></p>
          <%= simple_form_for [@product, @booking], method: "post" do |f| %>
          <div class="form-row">
            <div class="col">
              <%= f.input :quantity_in_kg, wrapper_html: { id:'kg-order' }%>
            </div>
            <div class="col">
              <%= f.input :delivery_option, collection: ["Pick-up at the farm", "Get delivered - 8€"], wrapper_html: { id:'del-option' }%>
            </div>
          </div>
          <p id="total-price"></p>

          <%= f.button :submit, "Order now", id:'sweet-alert-demo' , class: "btn btn-flat" %>

          <% end %>
        </div>
        <% elsif current_user.id == @product.farm.user_id%>
        <div class="form-row">
          <p>This Product is offered by you</p>
        </div>
        <% else %>
        <div class="form-row">
         <%= link_to "Please log in as a customer", log_out_farmer_path, class: "dropdown-item" %>
       </div>
       <% end %>
       <% else %>
       <div class="form-wrapper">
        <p><%= link_to "Please log in to buy #{@product.title}", new_user_session_path %> </p>
      </div>
      <% end %>
    </div>
  </div>
  <div
  id="map"
  style="width: 350px; height: 500px; margin-top: 60px; "
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

</div>
</div>

</div>
</div>
<%= javascript_pack_tag "full_price" %>
