<div class="override_width">
  <div class="row above_picture">

    <div class="col-sm-8">
      <img class="show_main_picture" src="<%= @product.photo %>">

      <div class="row under_picture">
        <div class="col-sm-3 descrip_collumn">
          <p class="subtle-header"> Product Details:</p>
        </div>
        <div class="col-sm-9 cont_collumn">
          <p class="prod-text"> <%= @product.description %></p>
        </div>
      </div>

      <div class="row under_picture">
        <div class="col-sm-3 descrip_collumn" >
          <p class="subtle-header"> About the farm:</p>
          <img class="show_farm_picture" src="<%= @product.farm.user.photo %>" >
        </div>
        <div class="col-sm-9 cont_collumn">
          <h4 class="farm_name"> <%= @product.farm.name %> </h4>
          <p class="prod-text"> <%= @product.farm.description %></p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 vertical-flex">
      <div class="main-description">

        <div class="side-card-header">
          <h4><%= @product.farm.name %></h4>
          <h2><%= @product.title %></h2>
        </div>

        <div class="side-card-body">
          <div class="form-row">
            <div class="col">
              <p class="small_text", id="kg-price"><strong style="font-size: 18px;"><%= @product.price_in_cents %>€</strong> per kg</p>
            </div>
          </div>
          <p class="small_header">Good between:</p>
          <div class="form-row">
            <div class="col">
              <p class="date_display"><%= @product.available_from&.strftime("%B %d, %Y") %></p>
            </div>

            <div class="col">
              <p class="date_display"><%= @product.available_until&.strftime("%B %d, %Y") %></p>
            </div>
          </div>
          <% if user_signed_in? %>
            <div class="form-row">
                <div class="col">
                  <p class="small_text"> <strong style="font-size: 18px;"><%= @product.quantity_in_kg %> Kg</strong> available</p>
                </div>
              <div class="col">
                <p class="small_text"><strong style="font-size: 18px;"> <%= @product.min_quantity_to_order %> Kg</strong> min. order</p>
              </div>
            </div>
          <% if current_user.role == "customer" %>
              <%= simple_form_for [@product, @booking], method: "post" do |f| %>
              <div class="form-row">
                <div class="col">
                   <%= f.input :quantity_in_kg, wrapper_html: { id:'kg-order' }%>
                </div>
                <div class="col">
                  <%= f.input :delivery_option, collection: ["Pick-up at the farm", "Get delivered - 8€"], wrapper_html: { id:'del-option'}, class: 'testing'%>
                </div>
              </div>
              <p id="total-price">Total price:</p>

              <%= f.button :submit, "Order now", class: "btn btn-flat" %>
              <% end %>
          <% elsif current_user.id == @product.farm.user_id%>
            <div class="form-row">
              <p>This Product is offered by you</p>
            </div>
          <% else %>
            <div class="form-row">
              <%= link_to "Please log in as a customer", log_out_farmer_path, class: "dropdown-item" %>
            </div>
          <% end %>
        <% else %>
        <div class="form-wrapper">
          <p><%= link_to "Please log in to buy #{@product.title}", new_user_session_path %> </p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<%= javascript_pack_tag "full_price" %>
