<!DOCTYPE html>
<html>
<head>
  <title><%= meta_title %></title>
<meta name="description" content="<%= meta_description %>">

<!-- Facebook Open Graph data -->
<meta property="og:title" content="<%= meta_title %>" />
<meta property="og:type" content="website" />
<meta property="og:url" content="<%= request.original_url %>" />
<meta property="og:image" content="<%= meta_image %>" />
<meta property="og:description" content="<%= meta_description %>" />
<meta property="og:site_name" content="<%= meta_title %>" />


  <link rel="shortcut icon" href="https://res.cloudinary.com/dc875ky15/image/upload/v1563977355/favicon_kivdn6.ico">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Uglicious - Sometimes uglies are better</title>
  <script src="https://kit.fontawesome.com/1679418da5.js"></script>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_pack_tag 'application' %>

  <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
</head>
<body>
  <% if controller.controller_name == "pages" && controller.action_name == "dashboard_farmer" || controller.action_name == "farmer_orders" %>
  <%= render 'shared/navbar2' %>
  <% else %>
  <%= render 'shared/navbar' %>
  <% end %>

    <%= render 'shared/flashes' %>

  <%= yield %>

  <%= render 'shared/footer' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
</body>
</html>
